/* Universal Styles */
body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: 0.9;
}

a {
  color: seashell;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

/* Header */

header {
  display: flex;
  position: fixed;
  align-items: center;
  height: 69px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav {
  display: inline-block;
  padding: 50px 30px;
}

span {
  padding: 40px 25px;
}

/* Content */
.content {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

/* Mission */

.mission {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 69px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.statement {
  margin: auto;
  width: 100%;
  background-color: black;
}

/* Store */

.store {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.itemList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  padding: 5px;
}

.item img {
  display: block;
  height: 200px;
  width: 300px;
  padding: 10px;
}

.item span {
  display: block;
}

/* Locations */

.cities {
  padding-top: 5px;
}

.locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

.locations .cities {
  margin: auto;
  width: 1200px;
}

.spot {
  width: 300px;
  opacity: 1.0;
  padding-top: : 15px;
  margin: 5px 20px;
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

/* Contact Section */

.contact {
  height: 200px;
}

/* Footer Section */

footer {
  text-align: left;
  padding-left: 20px;
}
